In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [32]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1497,tt0457510,32000000,80197993,Nacho Libre,Jack Black|Ana de la Reguera|HÃ©ctor JimÃ©nez|...,Jared Hess,He's not lean. He's not mean. He's nacho avera...,Nacho Libre is loosely based on the story of F...,92,Comedy|Family,Paramount Pictures|Nickelodeon Movies|Black & ...,6/16/2006,5.5,2006
1152,tt0269347,55000000,34234008,The Hunted,Tommy Lee Jones|Benicio del Toro|Connie Nielse...,William Friedkin,Some men should not be found.,"In the wilderness of British Columbia, two hun...",94,Drama|Action|Thriller|Crime,Lakeshore Entertainment|Alphaville Films,3/11/2003,5.8,2003
349,tt0865559,17000000,20455276,My Life in Ruins,Nia Vardalos|Richard Dreyfuss|Alexis Georgouli...,Donald Petrie,The most fun you can have without a passport.,A Greek tour guide named Georgia attempts to r...,95,Comedy|Romance,Fox Searchlight Pictures|26 Films,2/6/2009,5.7,2009
394,tt0446029,60000000,47664559,Scott Pilgrim vs. the World,Michael Cera|Mary Elizabeth Winstead|Kieran Cu...,Edgar Wright,Get the hot girl. Defeat her evil exes. Hit lo...,Scott Pilgrim is a film adaptation of the crit...,112,Action|Adventure|Comedy,Universal Pictures|Marc Platt Productions,7/27/2010,7.2,2010
1654,tt0241025,23000000,16123851,Vanity Fair,Reese Witherspoon|James Purefoy|Jonathan Rhys ...,Mira Nair,"On September 1st, a heroine will rise.","Beautiful, funny, passionate, and calculating,...",141,Drama|Romance,Alliance Films|Focus Features,9/1/2004,5.5,2004

In [33]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1889 entries, 0 to 1888
Data columns (total 14 columns):
imdb_id                 1889 non-null object
budget                  1889 non-null int64
revenue                 1889 non-null int64
original_title          1889 non-null object
cast                    1889 non-null object
director                1889 non-null object
tagline                 1889 non-null object
overview                1889 non-null object
runtime                 1889 non-null int64
genres                  1889 non-null object
production_companies    1889 non-null object
release_date            1889 non-null object
vote_average            1889 non-null float64
release_year            1889 non-null int64
dtypes: float64(1), int64(4), object(9)
memory usage: 206.7+ KB

# Предобработка

In [48]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...

#release date in the initial dataset is given in the string format:
#changing into datetime format
data['release_date'] = pd.to_datetime(data['release_date'], format="%m/%d/%Y")
data.head(2)

#release year in the initial dataset is given in the string format:
#changing into datetime format
data['release_year'] = pd.to_datetime(data['release_year'], format="%Y")
data.head(2)

#adding to the dataframe a column 'profit = revenue - budget'
data['profit'] = data['revenue'] - data['budget']
data.head(2)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
0,tt0369610,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,2015-06-09,6.5,2015-01-01,1363528810
1,tt1392190,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,2015-05-13,7.1,2015-01-01,228436354

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [235]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)'
# если ответили верно, можете добавить комментарий со значком "+"

In [35]:
# тут пишем ваш код для решения данного вопроса:
data[data['budget'] == data['budget'].max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,Adventure|Action|Fantasy,Walt Disney Pictures|Jerry Bruckheimer Films|M...,2011-05-11,6.3,2011,641683000

ВАРИАНТ 2

In [36]:
# можно добавлять разные варианты решения
data.sort_values(['budget'],ascending=False).head(2)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,Adventure|Action|Fantasy,Walt Disney Pictures|Jerry Bruckheimer Films|M...,2011-05-11,6.3,2011,641683000
1669,tt0449088,300000000,961000000,Pirates of the Caribbean: At World's End,Johnny Depp|Orlando Bloom|Keira Knightley|Geof...,Gore Verbinski,"At the end of the world, the adventure begins.","Captain Barbossa, long believed to be dead, ha...",169,Adventure|Fantasy|Action,Walt Disney Pictures|Jerry Bruckheimer Films|S...,2007-05-19,6.8,2007,661000000

# 2. Какой из фильмов самый длительный (в минутах)?

In [236]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = '2. Gods and Generals (tt0279111)'

In [37]:
#solution
data[data['runtime'] == data['runtime'].max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1157,tt0279111,56000000,12923936,Gods and Generals,Stephen Lang|Jeff Daniels|Robert Duvall|Kevin ...,Ronald F. Maxwell,The nations heart was touched by...,The film centers mostly around the personal an...,214,Drama|History|War,Turner Pictures|Antietam Filmworks,2003-02-21,5.8,2003,-43076064

# 3. Какой из фильмов самый короткий (в минутах)?

In [237]:
answers['3'] = '3. Winnie the Pooh (tt1449283)'

In [38]:
#solution
data[data['runtime'] == data['runtime'].min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
768,tt1449283,30000000,14460000,Winnie the Pooh,Jim Cummings|Travis Oates|Jim Cummings|Bud Luc...,Stephen Anderson|Don Hall,Oh Pooh.,"During an ordinary day in Hundred Acre Wood, W...",63,Animation|Family,Walt Disney Pictures|Walt Disney Animation Stu...,2011-04-13,6.8,2011,-15540000

# 4. Какова средняя длительность фильмов?

In [238]:
answers['4'] = '2. 110'

In [39]:
#solution 1
data.runtime.mean()

109.6585494970884

In [40]:
#solution 2
data.describe()

,budget,revenue,runtime,vote_average,release_year,profit
count,1.889000e+03,1.889000e+03,1889.000000,1889.000000,1889.000000,1.889000e+03
mean,5.431083e+07,1.553653e+08,109.658549,6.140762,2007.860773,1.010545e+08
std,4.858721e+07,2.146698e+08,18.017041,0.764763,4.468841,1.830733e+08
min,5.000000e+06,2.033165e+06,63.000000,3.300000,2000.000000,-1.657101e+08
25%,2.000000e+07,3.456058e+07,97.000000,5.600000,2004.000000,5.000000e+06
50%,3.800000e+07,8.361541e+07,107.000000,6.100000,2008.000000,4.400041e+07
75%,7.200000e+07,1.782626e+08,120.000000,6.600000,2012.000000,1.201842e+08
max,3.800000e+08,2.781506e+09,214.000000,8.100000,2015.000000,2.544506e+09

# 5. Каково медианное значение длительности фильмов?

In [239]:
answers['5'] = '1. 107'

In [41]:
#solution 1
data.runtime.median()

107.0

In [ ]:
#solution 2 - in the describe() method 50% corresponds to the median value

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [240]:
answers['6'] = '5. Avatar (tt0499549)'

In [42]:
#solution
data[data['profit'] == data['profit'].max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
239,tt0499549,237000000,2781505847,Avatar,Sam Worthington|Zoe Saldana|Sigourney Weaver|S...,James Cameron,Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...",162,Action|Adventure|Fantasy|Science Fiction,Ingenious Film Partners|Twentieth Century Fox ...,2009-12-10,7.1,2009,2544505847

# 7. Какой фильм самый убыточный?

In [241]:
answers['7'] = '5. The Lone Ranger (tt1210819)'

In [43]:
#solution
data[data['profit'] == data['profit'].min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,2013-07-03,6.0,2013,-165710090

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [242]:
answers['8'] = '1. 1478'

In [45]:
#solution
len(data[data['revenue'] > data['budget']])

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [243]:
answers['9'] = '4. The Dark Knight (tt0468569)'

In [52]:
#solution
data[data.release_year == '2008'].sort_values(['revenue'],ascending=False).head(2)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,2008-07-16,8.1,2008-01-01,816921825
603,tt0367882,185000000,786636033,Indiana Jones and the Kingdom of the Crystal S...,Harrison Ford|Cate Blanchett|Shia LaBeouf|Ray ...,Steven Spielberg,The adventure continues . . .,"Set during the Cold War, the Soviets â€“ led b...",122,Adventure|Action,Lucasfilm|Paramount Pictures,2008-05-21,5.6,2008-01-01,601636033

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [244]:
answers['10'] = '5. The Lone Ranger (tt1210819)'

In [56]:
#solution
data[(data.release_year >= '2012') & (data.release_year <= '2014')].sort_values(['profit']).head(2)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,2013-07-03,6.0,2013-01-01,-165710090
1214,tt0790736,130000000,61648500,R.I.P.D.,Jeff Bridges|Ryan Reynolds|Kevin Bacon|Stephan...,Robert Schwentke,To protect and serve the living,A recently slain cop joins a team of undead po...,96,Fantasy|Action|Comedy|Crime,Universal Pictures|Original Film|Dark Horse En...,2013-07-18,5.3,2013-01-01,-68351500

# 11. Какого жанра фильмов больше всего?

In [245]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале

answers['11'] = '3. Drama'

In [78]:
#solution

#dictionary: key = genre; value = amount of films of this genre
genres_movies_amount = {}

#filling the dictionary with all the possible genres in the DataFrame
for genres in data.genres.unique():
    for g in genres.split('|'):
        if not g in genres_movies_amount:
            genres_movies_amount[g] = 0

#counting the amount of films of each genre
for item in data.genres:
    for key in genres_movies_amount:
        if item.find(str(key)) != -1:
            genres_movies_amount[key] += 1

genres_movies_amount

{'Action': 582,
 'Adventure': 415,
 'Science Fiction': 248,
 'Thriller': 596,
 'Fantasy': 222,
 'Crime': 315,
 'Western': 19,
 'Drama': 782,
 'Family': 260,
 'Animation': 139,
 'Comedy': 683,
 'Mystery': 168,
 'Romance': 308,
 'War': 58,
 'History': 62,
 'Music': 64,
 'Horror': 176,
 'Documentary': 8,
 'Foreign': 2}

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [246]:
answers['12'] = '1. Drama'

In [81]:
#solution
#the same solution like in the previous task but amoung the movies with positive profit
data_temp = data[data.profit>0] #only films with profit > 0

#dictionary: key = genre; value = amount of films of this genre
genres_movies_amount = {}

#filling the dictionary with all the possible genres in the DataFrame
for genres in data_temp.genres.unique():
    for g in genres.split('|'):
        if not g in genres_movies_amount:
            genres_movies_amount[g] = 0

#counting the amount of films of each genre
for item in data_temp.genres:
    for key in genres_movies_amount:
        if item.find(str(key)) != -1:
            genres_movies_amount[key] += 1

genres_movies_amount

{'Action': 444,
 'Adventure': 337,
 'Science Fiction': 195,
 'Thriller': 446,
 'Fantasy': 188,
 'Crime': 231,
 'Western': 12,
 'Drama': 560,
 'Family': 226,
 'Animation': 120,
 'Comedy': 551,
 'Mystery': 119,
 'Romance': 242,
 'War': 41,
 'History': 46,
 'Music': 47,
 'Horror': 150,
 'Documentary': 7}

# 13. У какого режиссера самые большие суммарные кассовые сбооры?

In [247]:
answers['13'] = '5. Peter Jackson'

In [94]:
#solution
directors = pd.Series(0, set(data['director'].str.cat(sep='|').split('|')))

for i in directors.index:
    directors[i] = data[data.director.str.contains(i)].revenue.sum()
directors.sort_values(ascending=False).head(5)

Peter Jackson        6490593685
Christopher Nolan    4167548502
David Yates          4154295625
Michael Bay          3886938960
J.J. Abrams          3579169916
dtype: int64

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [248]:
answers['14'] = '3. Robert Rodriguez'

In [104]:
#solution

#leave only films with genre 'Action'
data_temp = data[data.genres.str.contains('Action')]

#dictionary: key = director; value = amount of films 
directors_action_movies = {}

#filling the dictionary with all the possible genres in the DataFrame
for directors in data_temp.director.unique():
    for d in directors.split('|'):
        if not d in directors_action_movies:
            directors_action_movies[d] = 0

#counting the amount of films of each genre
for item in data_temp.director:
    for key in  directors_action_movies:
        if item.find(str(key)) != -1:
             directors_action_movies[key] += 1

sorted(directors_action_movies.items(), key=lambda x: x[1])

[('Colin Trevorrow', 1),
 ('George Miller', 1),
 ('Chris Columbus', 1),
 ('Christopher McQuarrie', 1),
 ('Ilya Naishuller', 1),
 ('Ericson Core', 1),
 ('Denis Villeneuve', 1),
 ('Josh Trank', 1),
 ('Aleksander Bach', 1),
 ('Andy Fickman', 1),
 ('John Erick Dowdle', 1),
 ('Anne Fletcher', 1),
 ('James Gunn', 1),
 ('Joe Russo', 1),
 ('Anthony Russo', 1),
 ('Chad Stahelski', 1),
 ('David Leitch', 1),
 ('Don Hall', 1),
 ('Chris Williams', 1),
 ('Neil Burger', 1),
 ('Gareth Edwards', 1),
 ('Robert Stromberg', 1),
 ('Dean DeBlois', 1),
 ('Patrick Hughes', 1),
 ('Gary Shore', 1),
 ('Noam Murro', 1),
 ('Vic Armstrong', 1),
 ('JosÃ© Padilha', 1),
 ('George Clooney', 1),
 ('Brian A Miller', 1),
 ('Steven Quale', 1),
 ('Adam Wingard', 1),
 ('James Cameron', 1),
 ('Patrick Tatopoulos', 1),
 ('Shane Acker', 1),
 ('Steve Carr', 1),
 ('Christian Alvart', 1),
 ('Hoyt Yeatman', 1),
 ('Kevin Macdonald', 1),
 ('Michael Spierig', 1),
 ('Peter Spierig', 1),
 ('Paul McGuigan', 1),
 ('Troy Duffy', 1),
 ('Paul Weitz', 1),
 ('David Bowers', 1),
 ('Daniel Barber', 1),
 ('Michael J. Bassett', 1),
 ('Pierre Coffin', 1),
 ('Chris Renaud', 1),
 ('Phillip Noyce', 1),
 ('Florian Henckel von Donnersmarck', 1),
 ('Mike Newell', 1),
 ('Ethan Maniquis', 1),
 ('Albert Hughes', 1),
 ('Allen Hughes', 1),
 ('Tom McGrath', 1),
 ('Adam McKay', 1),
 ('Miguel Sapochnik', 1),
 ('Andy Tennant', 1),
 ('Jonathan Lynn', 1),
 ('Jimmy Hayward', 1),
 ('Robert Luketic', 1),
 ('John Luessenhop', 1),
 ('Kevin Smith', 1),
 ('Jorma Taccone', 1),
 ('Brian Levant', 1),
 ('Stuart Beattie', 1),
 ('Tim Burton', 1),
 ('Brian Helgeland', 1),
 ('John A. Davis', 1),
 ('Chris Nahon', 1),
 ('Hironobu Sakaguchi', 1),
 ('Motonori Sakakibara', 1),
 ('Rod Lurie', 1),
 ('John Herzfeld', 1),
 ('Ivan Reitman', 1),
 ('Demian Lichtenstein', 1),
 ('John Carpenter', 1),
 ('Bobby Farrelly', 1),
 ('Peter Farrelly', 1),
 ('Barry Levinson', 1),
 ('Luke Greenfield', 1),
 ('Les Mayfield', 1),
 ('Henry Selick', 1),
 ('Rob Pritts', 1),
 ('Ernest R. Dickerson', 1),
 ('DJ Pooh', 1),
 ('Eric Brevig', 1),
 ('Ben Stiller', 1),
 ('Jeff Wadlow', 1),
 ('Lexi Alexander', 1),
 ('Peter Segal', 1),
 ('Mathieu Kassovitz', 1),
 ('Rob Minkoff', 1),
 ('Jon Avnet', 1),
 ('Dennis Dugan', 1),
 ('Howard McCain', 1),
 ('Oxide Pang Chun', 1),
 ('Danny Pang', 1),
 ('Craig Mazin', 1),
 ('Simon Hunter', 1),
 ('Nicolas Winding Refn', 1),
 ('Rupert Wyatt', 1),
 ('Patrick Lussier', 1),
 ('Gary McKendry', 1),
 ('Scott Stewart', 1),
 ('Tarsem Singh', 1),
 ('Chris Gorak', 1),
 ('Chris Miller', 1),
 ('Michel Gondry', 1),
 ('Oliver Parker', 1),
 ('Joe Cornish', 1),
 ('Joe Wright', 1),
 ('John Michael McDonagh', 1),
 ('Alister Grierson', 1),
 ('Sean McNamara', 1),
 ('John Whitesell', 1),
 ('Benny Chan', 1),
 ('Corey Yuen Kwai', 1),
 ('Stuart Baird', 1),
 ('Kurt Wimmer', 1),
 ('Jay Roach', 1),
 ('Jim Gillespie', 1),
 ('Chuck Russell', 1),
 ('Betty Thomas', 1),
 ('Randall Wallace', 1),
 ('Ron Shelton', 1),
 ('Simon Wells', 1),
 ('Roger Michell', 1),
 ('Michael Apted', 1),
 ('Tom Dey', 1),
 ('Joel Schumacher', 1),
 ('Luis Mandoki', 1),
 ('Tamra Davis', 1),
 ('Ron Underwood', 1),
 ('Kevin Bray', 1),
 ('Malcolm D. Lee', 1),
 ('MÃ¥ns MÃ¥rlind', 1),
 ('BjÃ¶rn Stein', 1),
 ('Tony Gilroy', 1),
 ('Mark Andrews', 1),
 ('Steve Purcell', 1),
 ('Brenda Chapman', 1),
 ('Boaz Yakin', 1),
 ('Andrew Stanton', 1),
 ('Rian Johnson', 1),
 ('Mike McCoy', 1),
 ('Stephen St. Leger', 1),
 ('James Mather', 1),
 ('Daniel Espinosa', 1),
 ('Asger Leth', 1),
 ('Mabrouk El Mechri', 1),
 ('Dan Bradley', 1),
 ('Julie Anne Robinson', 1),
 ('Anthony Hemingway', 1),
 ('David Koepp', 1),
 ('David Barrett', 1),
 ('Stephen Norrington', 1),
 ('Jan de Bont', 1),
 ('Jon Amiel', 1),
 ('John McTiernan', 1),
 ('Shane Black', 1),
 ('Tommy Wirkola', 1),
 ('Carl Rinsch', 1),
 ('Gary Fleder', 1),
 ('Mikael HÃ¥fstrÃ¶m', 1),
 ('Taylor Hackford', 1),
 ('Steven Knight', 1),
 ('Spike Lee', 1),
 ('Dito Montiel', 1),
 ('Keanu Reeves', 1),
 ('Fyodor Bondarchuk', 1),
 ('Karyn Kusama', 1),
 ('Adam Shankman', 1),
 ('John Stockwell', 1),
 ('Sydney Pollack', 1),
 ('Terry Gilliam', 1),
 ('Jay Chandrasekhar', 1),
 ('Richard Shepard', 1),
 ('John Dahl', 1),
 ('Bruce Hunt', 1),
 ('Alfonso CuarÃ³n', 1),
 ('Stefen Fangmeier', 1),
 ('Mel Gibson', 1),
 ('Bruce Beresford', 1),
 ('Wolfgang Petersen', 1),
 ('Jeff Tremaine', 1),
 ('John Bonito', 1),
 ('Geoffrey Sax', 1),
 ('Tony Bill', 1),
 ('Wayne Kramer', 1),
 ('Sanjay Gadhvi', 1),
 ('Phil Joanou', 1),
 ('Alexander Witt', 1),
 ('Bibo Bergeron', 1),
 ('Vicky Jenson', 1),
 ('Rob Letterman', 1),
 ('Kerry Conran', 1),
 ('Oliver Stone', 1),
 ('Jonathan Hensleigh', 1),
 ('Pitof', 1),
 ('Philip Kaufman', 1),
 ('Trey Parker', 1),
 ('Steven Brill', 1),
 ('Frank Coraci', 1),
 ('Paul Abascal', 1),
 ('Joseph Kahn', 1),
 ('David Mamet', 1),
 ('Jay Russell', 1),
 ('Robert Redford', 1),
 ('Philip G. Atwell', 1),
 ('Michael Davis', 1),
 ('Xavier Gens', 1),
 ('Eli Roth', 1),
 ('Rob Zombie', 1),
 ('Jason Eisener', 1),
 ('Dave Meyers', 1),
 ('Russell Mulcahy', 1),
 ('Andrew Dominik', 1),
 ('Doug Lefler', 1),
 ('David Leland', 1),
 ('Feng Xiaogang', 1),
 ('Ben Garant', 1),
 ('Joel Coen', 1),
 ('Donald Petrie', 1),
 ('Paul Verhoeven', 1),
 ('Roger Spottiswoode', 1),
 ('Antony Hoffman', 1),
 ('Stephen T. Kay', 1),
 ('Don Bluth', 1),
 ('Gary Goldman', 1),
 ('Christian Duguay', 1),
 ('Douglas Aarniokoski', 1),
 ('Gina Prince-Bythewood', 1),
 ('Brian Robbins', 1),
 ('Des McAnuff', 1),
 ('James Wan', 2),
 ('Alan Taylor', 2),
 ('Sam Mendes', 2),
 ('Joss Whedon', 2),
 ('Peyton Reed', 2),
 ('Brad Peyton', 2),
 ('Wes Ball', 2),
 ('Michael Mann', 2),
 ('Paul Feig', 2),
 ('Ron Howard', 2),
 ('Camille Delamarre', 2),
 ('Luc Besson', 2),
 ('Jonathan Liebesman', 2),
 ('Matt Reeves', 2),
 ('Marc Webb', 2),
 ('Evan Goldberg', 2),
 ('Seth Rogen', 2),
 ('Roger Donaldson', 2),
 ('J.C. Chandor', 2),
 ('Kenneth Branagh', 2),
 ('Scott Waugh', 2),
 ('Alex Proyas', 2),
 ('James McTeigue', 2),
 ('NimrÃ³d Antal', 2),
 ('Gavin Hood', 2),
 ('Sylvester Stallone', 2),
 ('Joseph Kosinski', 2),
 ('Edgar Wright', 2),
 ('Robert Schwentke', 2),
 ('James Mangold', 2),
 ('Neil Marshall', 2),
 ('Kevin Munroe', 2),
 ('Peter Howitt', 2),
 ('Frank Oz', 2),
 ('Joe Johnston', 2),
 ('Peter Hyams', 2),
 ('Timur Bekmambetov', 2),
 ('David Gordon Green', 2),
 ('Pete Travis', 2),
 ('Frank Miller', 2),
 ('Jason Friedberg', 2),
 ('Aaron Seltzer', 2),
 ('Rob Marshall', 2),
 ('Andrew Niccol', 2),
 ('Marcus Nispel', 2),
 ('Ruben Fleischer', 2),
 ('George Lucas', 2),
 ('Andrew Davis', 2),
 ('Walter Hill', 2),
 ('Rob Bowman', 2),
 ('Ang Lee', 2),
 ('Baltasar KormÃ¡kur', 2),
 ('Mark Steven Johnson', 2),
 ('F. Gary Gray', 2),
 ('David Dobkin', 2),
 ('Clark Johnson', 2),
 ('Richard Donner', 2),
 ('William Friedkin', 2),
 ('Francis Lawrence', 2),
 ('Courtney Solomon', 2),
 ('David R. Ellis', 2),
 ('David S. Goyer', 2),
 ('Brad Bird', 3),
 ('Matthew Vaughn', 3),
 ('Neill Blomkamp', 3),
 ('Jaume Collet-Serra', 3),
 ('Breck Eisner', 3),
 ('Pierre Morel', 3),
 ('David Ayer', 3),
 ('Doug Liman', 3),
 ('Clint Eastwood', 3),
 ('Phil Lord', 3),
 ('Christopher Miller', 3),
 ('Stephen Sommers', 3),
 ('Shawn Levy', 3),
 ('Jonathan Mostow', 3),
 ('Jon Favreau', 3),
 ('Jon Turteltaub', 3),
 ('Joe Carnahan', 3),
 ('M. Night Shyamalan', 3),
 ('Harald Zwart', 3),
 ('Marc Forster', 3),
 ('D.J. Caruso', 3),
 ('Edward Zwick', 3),
 ('Sam Raimi', 3),
 ('Barry Sonnenfeld', 3),
 ('Guillermo del Toro', 3),
 ('John Woo', 3),
 ('Uwe Boll', 3),
 ('David Twohy', 3),
 ('J.J. Abrams', 4),
 ('Lana Wachowski', 4),
 ('Lilly Wachowski', 4),
 ('Olivier Megaton', 4),
 ('Guy Ritchie', 4),
 ('Bryan Singer', 4),
 ('Tim Story', 4),
 ('Renny Harlin', 4),
 ('Mark Neveldine', 4),
 ('Brian Taylor', 4),
 ('Dominic Sena', 4),
 ('Justin Lin', 4),
 ('Christopher Nolan', 4),
 ('Simon West', 4),
 ('John Moore', 4),
 ('Steven Spielberg', 4),
 ('Martin Campbell', 4),
 ('John Singleton', 4),
 ('Len Wiseman', 4),
 ('Brett Ratner', 5),
 ('Quentin Tarantino', 5),
 ('McG', 5),
 ('Zack Snyder', 5),
 ('Roland Emmerich', 5),
 ('Andrzej Bartkowiak', 5),
 ('Louis Leterrier', 5),
 ('Tony Scott', 5),
 ('Paul Greengrass', 5),
 ('Peter Jackson', 5),
 ('Lee Tamahori', 5),
 ('Gore Verbinski', 5),
 ('Rob Cohen', 5),
 ('Peter Berg', 5),
 ('Antoine Fuqua', 6),
 ('Ridley Scott', 6),
 ('Michael Bay', 7),
 ('Paul W.S. Anderson', 7),
 ('Robert Rodriguez', 9)]

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [249]:
answers['15'] = '3. Chris Hemsworth'

In [127]:
#solution 
#same as 13

#temporary DataFrame with movies of only 2012 year of production
data_temp = data[data.release_year == '2012']

actors = pd.Series(0, set(data_temp['cast'].str.cat(sep='|').split('|')))

for i in actors.index:
    actors[i] = data_temp[data_temp.cast.str.contains(i)].revenue.sum()
actors.sort_values(ascending=False).head(5)

Chris Hemsworth      2027450773
Denis Leary          1629460639
Anne Hathaway        1522851057
Mark Ruffalo         1519557910
Robert Downey Jr.    1519557910
dtype: int64

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [250]:
answers['16'] = '3. Matt Damon'

In [132]:
#solution

#same as 12
data_temp = data[data.budget>data.budget.mean()] #eaving only high budget movies

#dictionary: actor - amount of movies
actor_movies_amount = {}

#filling the dictionary with all the possible genres in the DataFrame
for actors in data_temp.cast.unique():
    for a in actors.split('|'):
        if not a in actor_movies_amount:
            actor_movies_amount[a] = 0

#counting the amount of films for each actor
for item in data_temp.cast:
    for key in actor_movies_amount:
        if item.find(str(key)) != -1:
            actor_movies_amount[key] += 1

#finding the maximum value and corresponding key
max_value = max(actor_movies_amount.values())
max_actors = {k: v for k, v in actor_movies_amount.items() if v == max_value}
max_actors

{'Matt Damon': 18}

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [251]:
answers['17'] = '2. Action'

In [139]:
#solution

#leaving only films with Nicolas Cage
data_tmp = data[data.cast.str.contains("Nicolas Cage")]

#making list of genres in which Cage was playing
list_genres = data_tmp['genres'].str.cat(sep = '|').split("|")

#turning the list into the Pandas Series object for easier calculation
pd.Series(list_genres).value_counts()

Action             17
Thriller           15
Drama              12
Crime              10
Fantasy             8
Adventure           7
Comedy              6
Science Fiction     4
Family              3
Mystery             3
Animation           3
History             2
Romance             1
War                 1
Horror              1
dtype: int64

# 18. Самый убыточный фильм от Paramount Pictures

In [252]:
answers['18'] = '1. K-19: The Widowmaker (tt0267626)'

In [151]:
#solution
#leaving only films with Nicolas Cage
data_tmp = data[data.production_companies.str.contains('Paramount Pictures')]
data_tmp[data_tmp.profit == data_tmp.profit.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
925,tt0267626,100000000,35168966,K-19: The Widowmaker,Harrison Ford|Liam Neeson|Peter Sarsgaard|Joss...,Kathryn Bigelow,Fate has found its hero.,When Russia's first nuclear submarine malfunct...,138,Thriller|Drama|History,Paramount Pictures|Intermedia Films|National G...,2002-07-19,6.0,2002-01-01,-64831034

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [253]:
answers['19'] = '5. 2015'

In [157]:
#solution
data.groupby('release_year')['revenue'].sum().sort_values(ascending=False)

release_year
2015-01-01    25449202382
2014-01-01    23405862953
2013-01-01    23213799791
2012-01-01    23079001687
2011-01-01    22676791872
2010-01-01    21071204961
2009-01-01    20261791024
2008-01-01    18252781990
2007-01-01    18162406801
2004-01-01    15663430720
2005-01-01    15309425558
2006-01-01    14775042320
2003-01-01    14346123312
2002-01-01    14136361487
2001-01-01    13017764865
2000-01-01    10664099805
Name: revenue, dtype: int64

# 20. Какой самый прибыльный год для студии Warner Bros?

In [254]:
answers['20'] = '1. 2014'

In [162]:
#solution
#same as the previous task only for the DataFrame filtered for Warner Bros
data_WB = data[data.production_companies.str.contains('Warner Bros')]
data_WB.groupby('release_year')['revenue'].sum().sort_values(ascending=False)

release_year
2014-01-01    3243064519
2007-01-01    3183675217
2008-01-01    3050595031
2010-01-01    3008712985
2011-01-01    2845393682
2003-01-01    2745493377
2009-01-01    2737954136
2004-01-01    2731933725
2013-01-01    2599953400
2005-01-01    2412980298
2001-01-01    2266545668
2012-01-01    1869520056
2002-01-01    1702709901
2015-01-01    1691168351
2006-01-01    1521170743
2000-01-01    1025531386
Name: revenue, dtype: int64

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [255]:
answers['21'] = '4. Сентябрь'

In [171]:
#solution
#make a temp database with the separate column for the month of the release date
data_month = data
data_month['month'] = data_month['release_date'].dt.month
data_month['month'].value_counts(ascending=False)

9     227
12    190
10    186
8     161
3     156
4     149
6     147
11    146
7     142
5     140
2     135
1     110
Name: month, dtype: int64

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [256]:
answers['22'] = '2. 450'

In [173]:
#solution
#use data_month from the previous task leaving only summer months then
len(data_month[(data_month.month == 6) | (data_month.month == 7)| (data_month.month == 8)])

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [257]:
answers['23'] = '5. Peter Jackson'

In [183]:
#solution
#use data_month from the previous task leaving only winter months then
data_winter = data_month[(data_month.month == 11) | (data_month.month == 12)| (data_month.month == 1)]

#making list of directors 
directors_lst = data_winter['director'].str.cat(sep = '|').split("|")

#turning the list into the Pandas Series object for easier calculation
pd.Series(directors_lst).value_counts()

Peter Jackson        8
Clint Eastwood       7
Steven Soderbergh    6
Francis Lawrence     4
Martin Scorsese      4
                    ..
Shana Feste          1
Steve Antin          1
Todd Phillips        1
Gary Winick          1
Andy Muschietti      1
Length: 371, dtype: int64

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [258]:
answers['24'] = '5. our By Two Productions'

In [231]:
#making temp DataFrame with a new column representing the lenth of the movie title
data_len = data
data_len['title_length'] = data_len['original_title'].str.len() 

#makind a pd.Series object with studios as an index
studios = pd.Series(0, set(data_len['production_companies'].str.cat(sep='|').split('|')))

#filling it with the mean value of title length
for i in studios.index:
    studios[i] = data_len[data_len.production_companies.str.contains(i)].title_length.mean()

studios.sort_values(ascending=False).head(5)

C:\Users\Thor\Anaconda3\lib\site-packages\pandas\core\strings.py:1843: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  return func(self, *args, **kwargs)

Four By Two Productions      83.0
Jim Henson Company, The      59.0
Dos Corazones                47.0
Museum Canada Productions    46.0
Polsky Films                 46.0
dtype: float64

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

ВАРИАНТ 2

# Submission

In [259]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'14': '3. Robert Rodriguez',
 '3': '3. Winnie the Pooh (tt1449283)',
 '1': '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '4': '2. 110',
 '5': '1. 107',
 '6': '5. Avatar (tt0499549)',
 '7': '5. The Lone Ranger (tt1210819)',
 '8': '1. 1478',
 '9': '4. The Dark Knight (tt0468569)',
 '10': '5. The Lone Ranger (tt1210819)',
 '11': '3. Drama',
 '12': '1. Drama',
 '13': '5. Peter Jackson',
 '15': '3. Chris Hemsworth',
 '16': '3. Matt Damon',
 '17': '2. Action',
 '18': '1. K-19: The Widowmaker (tt0267626)',
 '19': '5. 2015',
 '20': '1. 2014',
 '21': '4. Сентябрь',
 '22': '2. 450',
 '23': '5. Peter Jackson',
 '2': '2. Gods and Generals (tt0279111)',
 '24': '5. our By Two Productions'}

In [260]:
# и убедиться что ни чего не пропустил)
len(answers)

24